@font-face {
  font-family: 'dogica';
  src: url('public/dogicapixel.ttf') format('truetype');
}
@font-face {
  font-family: 'dogicabold';
  src: url('public/dogicapixelbold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'pixelpoiiz';
  src: url('public/pixelpoiiz.ttf') format('truetype');
}
@font-face {
  font-family: 'picopixel';
  src: url('public/Picopixel.ttf') format('truetype');
}
@import '~bootstrap/scss/bootstrap';

body {
  font-family: dogica;
  margin: 10px;
  border: 10px solid black;
}

h1, h2 {
  font-family: pixelpoiiz;
  border: 5px solid black;
  padding: 5px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section {
  border: 5px solid black;
  padding: 5px;
  margin: 0 auto;
  display: block;
}

input {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  display: block;
}

form {
  border: 5px solid black;
  margin: 5px;
  padding: 10px;
  display: inline-block;
}

.pet-options {
  display: inline;
}

.collapsible {

}

.statbar {
  width: 100%;
  background-color: gray;
  border: 1px solid black;
}

.statbar-fill {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: red;
  color: white;
}
